* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pz', sans-serif;
}

:root{
    --cor-branca: black;
    --cor-box: red;
    --cor-fundo: white;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: var(--cor-fundo);

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid var(--cor-branca);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box.registro {
    height: 675px;
}

h2 {
    font-size: 2em;
    color: var(--cor-branca);
    text-align: center;
}

.box-input {
    position: relative;
    width: 310px;
    margin: 30px 0px;
    border-bottom: 2px solid var(--cor-branca);
}

.box-input label{
    position: absolute;
    top: 50% ;
    left: 5px;
    transform: translateY(-50%);
    color: var(--cor-branca);
    pointer-events: none;
    transition: 500ms;
}

#email-input input:not(:placeholder-shown)~label{
    top:-5px;
}

.box-input input:focus~label,
.box-input input:valid~label {
    top:-5px;
}



.box-input input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--cor-branca);
    padding:  0 35px 0 5px;
}

.box-input .icon {
    position: absolute;
    right: 8px;
    top: 15px;
    color: var(--cor-branca);
    height: 1.3em;  
}

.forgot {
    margin: -15px 0 15px;
    font-size: .9em;
    color: var(--cor-branca);
    display: flex;
    justify-content: space-between;
}

.forgot label input {
    margin-right: 3px;
}

.forgot a {
    color: var(--cor-branca);
    text-decoration: none;
}

.forgot a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height:  40px;
    background: var(--cor-branca);
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 600;
}

.register-link {
    font-size: 1em;
    color: var(--cor-branca);
    text-align: center;
    margin: 25px 0 10px;
}

.register-link p a {
    color: var(--cor-branca);
    text-decoration: none;
    font-weight: 800;
}

.register-link p a:hover {
    text-decoration: underline;
}